*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serifs;
}

.main{
  width: 100%;
  overflow: hidden;
}
.button-non{
  border: none !important;
  outline: none !important;
}
.header{
  position: fixed !important;
  height: 80px !important; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: #ff6d6069;
  font-size: 18px;
  z-index: 999;
  color: white;
}
.header a,header .navbar-brand{
  color: white;
}
.list-product{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
}
.w-1200{
  width: 1200px;
}
.flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_start{
  display: flex;
  justify-content: start;
  align-items: center;
}
.pd-30{
  padding: 30px 0;
}
.home{
  width: 1200px;
  margin: 0 auto;
}
.theloai-item-box  h3{
  position: absolute;
  top: -15px;
  left: 30px;
  font-size: 25px;
  color: #ff6c60;
  text-transform: uppercase;
  font-weight: 500;
  background-color: white;
  padding: 0 10px;
}
.theloai-item-box{
  padding: 15px 10px 30px 10px;
  border-top: 1px solid #ff6c60;
  margin: 30px 0;
  position: relative;
  display: block;
}
.item-product{
  position: relative;
  width: 100%;
  height: 400px !important;
  overflow: hidden;
  transition: 0.5s
}
.item-product::before{
  position: absolute;
  top: 0;
  left: 0;
   width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0); /* Màu nền khi hover */
  opacity: 1; /* Độ mờ khi hover */
  z-index: 1000;
}
.item-product .infro-product{
  position: absolute;
  left: 0;
  right: 0;
  bottom: -250px;
  background-color: rgba(245, 245, 245, 0.405);
  z-index:10 ;
  transition: .5s ease-in-out;
}

.item-product img{
  transition: .5s ease-in-out;
}
.item-product:hover .infro-product{
  bottom: 0; 

}
.item-product:hover img{
  transform: scale(1.2);
  
}
.item-icon {
  height: 40px;
  border-radius: 50%;
  width: 40px;
  text-decoration: none;
  cursor: pointer;
  position: relative; /* Add this for positioning */
}
.item-product:hover{
  border-radius: 10px 10px 10px #ccc;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.item-product::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 
  background: transparent;
}
.item-product:hover:before{
  background: rgba(21, 21, 21, 0.098); /* Màu nền khi hover */
  opacity: 1; 
  z-index: 2;
}
.item-icon i {
  color: white;
}

.item-icon p {
  display: none;
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin: 0;
  padding: 0;
}

.item-icon:hover {
  min-width: 100px;
  border-radius: 26px;
  transition: width 0.5s ease-in-out, border-radius 0.01s ease-in-out;
  text-decoration: none;
  padding: 0 2.5px;
}

.item-icon:hover p {
  display: block;
  opacity: 1;
  animation: animation 0.8s;
  margin-left: 4px;
}

.item-icon:not(:hover) p {
  animation: animation-reverse 0.25s;
  animation-fill-mode: forwards;
}

@keyframes animation {
  0% {
      opacity: 0;
     
  }
  80% {
      opacity: 0.3;
  }
  100% {
      opacity: 1;
  }
}

@keyframes animation-reverse {
  0% {
      opacity: 1;
      
  }
  100% {
      opacity: 0;
  }
}
.bg-green-o{
  background-color: #57B657 !important;
}
.bg-yellow-green{
  background-color: greenyellow;
}
.bg-red-blink{
  background-color: #ff6c60 !important;
}
.bg-yellow-og{
  background-color: #FCB322 !important;
}
.bg-bule{
  background-color: #00FFFF;
}
.bg-violet{
  background-color:#5E50F9;
}
.item-product:hover .heart{
    top: 0;
    right: 0;
    transition: 0.5s ease-in-out;
    z-index: 10;
}
.pd-30-0{
  padding:  40px 5px !important;
}
.heart{
  position: absolute;
  top: -50px;
  right:-50px;
  background-color: rgba(245, 245, 245, 0.405);
  width: 65px;
  height: 65px;
  border-radius: 0 0 0 70px;
  transition: .5s ease-in-out;
}
.heart i{
  color: #ff6c60;
  font-size: 20px;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.heart i:hover{
  font-size: 20px;
  transition: 0.5s ease-in-out;
}
.heart-icon{
  width: 100%;
  height: 100%;
  position: relative;
}
/* .btn-add-card:hover{
  animation: wiggle 0.5s ease-in-out infinite; 
  background-color: #5E50F9;
} */
@keyframes wiggle {
  0%, 100% {
    transform: rotate(0deg); /* Ban đầu và kết thúc ở góc 0 độ */
  }
  25% {
    transform: rotate(10deg); /* Lắc về phía trước */
  }
  75% {
    transform: rotate(-10deg); /* Lắc về phía sau */
  }
}
.account{
  padding-top: 100px;
}
.titel ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.titel ul li{
  list-style: none;
  padding:10px 20px 0 20px;
}
.titel ul li h3{
  color: #ff6c60;
  font-size: 20px;
  letter-spacing: 0.2px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
.titel ul li h3.active{
  position: relative;
}
.titel ul li h3.active::after{
  position: absolute;
  bottom: -10px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #ff6c60;
}
.btn-login{
  border: none !important;
  outline: none;
  padding: 15px 35px !important;
}
.other-item-login{
  position: relative;
}
.other-item-login span{
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 20px;
  color: #ff6c60;
}
.other-item-login-icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 50px 20px;
  cursor: pointer;
}
.other-item-login-icon i{
  color: white;
  font-size: 20px;
}
.bg-face{
  background-color: #4267b2;
}
.bg-gg{
  background-color: #34A853;
}
.item-acount{
  transition: all 0.3s ease;
  width: 1000px;
  padding: 30px;
  display: none;
}
.item-acount.active{
  display: block;
}
.form-input{
  position: relative;
  margin: 15px 0;
}
.lable-form{
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  pointer-events: none;
}
.form-input input:focus+label,.form-input input:valid+label{
  top: 0 !important;
  background-color: white;
  z-index: 9;
  padding: 0 5px;
  transition: 0.5s ease-in-out;
  font-size: 12px;
}
.err-text{
  width: 100%;
  height: 40px;
}
.form-input input{
  height: 100%;
  padding: 0;
  padding-left: 50px;
 
}
.item-icon-input-form{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
.form-input{
  height: 50px;
}
.check-password{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.eye-close{
  display: none;
}
.header-container{
  position: relative;
  max-width: 1250px !important;
}
.account-box{
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
}
.img-account{
  width: 50px;
  height: 50px;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
}
.carousel-inner{
    width: 100%;
    height: 100%;
}
.carousel-item{
  width: 100%;
    height: 100%;
}
.carousel-inner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.list-banner{
  width: 100%;
  height: 650px;
}
.carousel-control-prev-icon{
  color: white !important;
}
.list-banner .carousel-indicators button{
  width: 15px;
  height: 15px;
  cursor: pointer;
  border-radius: 50%;
}
.drop-menu-stack{
  background-color: #ff6c60;
}
.box-item-img-home{
  background: transparent;
}
.account-box.dropdown {
  background: transparent !important;
  border: none !important;
}
.drop-menu.drop-menu-stack{
  background-color: #ff6c60;
}
.box-header-top{
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}
.account-home{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.account-home .account-home-img{
  width: 100%;
  height: 100%;
  position: relative;
}
.account-home-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.account-home ul.sub-menu{
    width: 200px;
    background-color: #ff6c60;
    position: absolute;
   top: 55px;
    right: 0;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 5px #fff;
}
.account-home ul.sub-menu li{
  list-style: none;
  padding: 15px 0;
  padding-left: 30px;
  width: 100%;
  transition: 0.5s ease-in-out;
}
.account-home ul.sub-menu li a{
  text-decoration: none;
}
.account-home ul.sub-menu li:hover{
  background-color: #fff;
  cursor: pointer;
}
.account-home ul.sub-menu li:hover a{
    color: black;
    transition: 0.5s ease-in-out;
}
.card-shopping-header{
  height: 50px;
  width: 50px;
  position: relative;
}
.card-shopping-header p{
  position: absolute;
  top: 2px;
  right: 5px;
 
  color: white;
}


.card-shopping-header i{
  font-size: 20px;
  cursor: pointer;
}
.mg-50{
  margin: 50px 0;
}
.titel-session{
  width: 100%;
  padding: 30px 0;
  }
  .titel-session h4{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: 1px;
    color: #ff6c60;
  }
  .card-theloai{
    width: 100%;
    border: none !important;
    width: 280px;
    position: relative;
  }
  .card-theloai .card-theloai-img{
    width: 280px;
    height: 280px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }
  .box-titel{
    text-align: center;
  }
  .see-more{
    position: absolute;
    top: 0;
    right: -50px;
   
  }
  .see-more a.see-more-text{
    text-decoration: none;
    color: #ff6c60;
    position: relative;
    cursor: pointer;
  }
  .see-more a.see-more-text::after{
    position: absolute;
    bottom: -7px;
    content: "";
    left: 0;
    height: 3px;
    background-color: #ff6c60;
    width: 0;
  }
  .see-more a.see-more-text:hover:after{
    transition: 0.5s ease-in-out;
    width: 100%;
   }
  .swiper-button-next,.swiper-button-prev{
    width: 40px !important;
    height: 40px !important;
    background-color: #ff6c60;
    color: white !important;
    border-radius: 50%;
  }
  .swiper-button-next:hover,.swiper-button-prev:hover{
    transition: 0.5s ease-in-out;
    box-shadow: 5px 5px 5px #ccc;
    background-color: black;
  }
  .swiper-button-prev::after, .swiper-button-next::after{
    font-size: 20px !important;
  }
.slider-img-deatil{
  width: 600px;
  height: 650px;
}
.slider-img-deatil img{
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.slider-img-deatil .swiper-pagination-bullet{
  background-color: #ccc !important;
}
.slider-img-deatil .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #fff !important;
}
.mg-t-85{
  margin-top: 85px !important;
}
.mg-5{
  margin: 0 5px;
}
.mg-35{
  margin: 35px 0;
}
.deatil-context{

}
.deatil-context span{
  display: block;
  margin: 20px 0;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}
button.accordion-button{
  background: transparent !important;
  border: none;
}
button.accordion-button:focus{
  box-shadow: none;
  border: none;
}
.tab-menu .nav-link.active{
  background-color: #ff6c60 !important;
  color: white !important;
}
.deatil-context h3{
  color: #ff6c60;
  font-size: 25px;
  letter-spacing: 2px;
  margin: 35px 0;
}
.tab-menu .nav-link{
  width: 100px;
  height: 50px;
  color: black;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.check-quantity{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px; 
}
.check-quantity input{
  border: 1px solid #cfcfcf;
  width: 120px;
  height: 40px;
  outline: none;
  padding-left: 20px;
  border-radius: 5px;
}
.check-quantity-item-box{
    width: 40px;
    height: 40px;
    background-color: #ff6c60;
    border-radius: 10px;
    cursor: pointer;  
}
.check-quantity-item-box span{
  color: white;
  font-size: 20px;
 
}
.list-span-box,.list-button-card{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.item-span-box {
  width: 120px;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.button-card{
  min-width: 150px;
  height: 50px;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0 10px;
}
.mg-r-5{
  margin-right: 5px;
}
 .cart{
  position: relative;
}
.cart-box-dowp{
  position: absolute;
  top: 45px;
  right:0;
  border-radius: 20px;
  width: 200px;
  height: 210px;
  padding: 15px 5px;
  background-color: #ff6d60a8;
  transition: 0.5s ease-in-out;
}

.cart-box-item{
  width: 100%;
  height: 60px;
  padding: 5px 10px;
  cursor: pointer;
  transition: .5s ease-in-out;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 35px 135px;
  position: relative;
}
.cart-box-item:hover{
  background: white;

}

.cart-box-item span{
  transition: 0.5s ease-in-out;
}
.cart-box-item:hover span{
  color: black;
}
.cart-box-item img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover; 
}
.cart-box-item-infro{
  padding-left: 10px;
}
.color-span-box.active{
  border: #ff6c60 1px solid;
}
.color-span-text.active{
  color: #ff6c60;
  font-weight: 500;
}
.size-span-box.active{
  border: #ff6c60 1px solid;
}
.size-span-text.active{
  color: #ff6c60;
  font-weight: 500;
}
.cart-box-item-infro input{
  width: 25px;
  height: 30px;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  padding: 5px;
}
.girl-5-5{
  display: grid;
  grid-template-columns: repeat(2,50%);
}
.position-ab{
  position: absolute;
  right: 5px;
}
.delete-cart{
  top: 50%;
  transform: translateY(-50%);
  transition: .5s ease-in-out;
}
.cart-box-item:hover i.delete-car{
  color: black;
}